<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default-layout}">

<body>
<th:block layout:fragment="content">
    <div>
        <h1>fun-chat 1.0.0</h1>
        <form action="/web/chat/public" method="post">
            <label for="userName">닉네임을 입력해주세요</label>
            <input type="text" id="userName" name="userName">
            <button type="submit">입장</button>
        </form>
    </div>
</th:block>

</body>


</html>